body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}



.hero-banner-img {
    position: absolute;
    right: 40px;
    top: -40px;
    width: 750px;
    height: 900px;
}


.search-btn:hover {
    color: #FF2625;
    border: 1px solid #FF2625;
}

.bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.bodyPart-card:hover,
.exercise-card:hover {
    transform: scale(1.1, 1.1);
}

.exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #FF2625;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card img {
    height: 326px;
}

.detail-image {
    width: 600px;
    height: 600px;
}

.exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

